<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (comment) {
      <div>
        <h2 data-cy="commentDetailsHeading"><span jhiTranslate="incidentManagerApp.comment.detail.title">Comment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ comment.id }}</span>
          </dd>
          <dt><span jhiTranslate="incidentManagerApp.comment.content">Content</span></dt>
          <dd>
            <span>{{ comment.content }}</span>
          </dd>
          <dt><span jhiTranslate="incidentManagerApp.comment.commentDate">Comment Date</span></dt>
          <dd>
            <span>{{ comment.commentDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="incidentManagerApp.comment.incident">Incident</span></dt>
          <dd>
            @if (comment.incident) {
              <div>
                <a [routerLink]="['/incident', comment.incident.id, 'view']">{{ comment.incident.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/comment', comment.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
