<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-incident-heading" data-cy="IncidentCreateUpdateHeading" jhiTranslate="incidentManagerApp.incident.home.createOrEditLabel">
        Create or edit a Incident
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.creationDate" for="field_creationDate">Creation Date</label>
          <div class="d-flex">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="datetime-local"
              class="form-control"
              name="creationDate"
              formControlName="creationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('creationDate')!.invalid && (editForm.get('creationDate')!.dirty || editForm.get('creationDate')!.touched)) {
            <div>
              @if (editForm.get('creationDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('creationDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.updateDate" for="field_updateDate">Update Date</label>
          <div class="d-flex">
            <input
              id="field_updateDate"
              data-cy="updateDate"
              type="datetime-local"
              class="form-control"
              name="updateDate"
              formControlName="updateDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.resolutionDate" for="field_resolutionDate"
            >Resolution Date</label
          >
          <div class="d-flex">
            <input
              id="field_resolutionDate"
              data-cy="resolutionDate"
              type="datetime-local"
              class="form-control"
              name="resolutionDate"
              formControlName="resolutionDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.department" for="field_department">Department</label>
          <select
            class="form-control"
            id="field_department"
            data-cy="department"
            name="department"
            formControlName="department"
            [compareWith]="compareDepartment"
          >
            <option [ngValue]="null"></option>
            @for (departmentOption of departmentsSharedCollection; track $index) {
              <option [ngValue]="departmentOption">{{ departmentOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.priority" for="field_priority">Priority</label>
          <select
            class="form-control"
            id="field_priority"
            data-cy="priority"
            name="priority"
            formControlName="priority"
            [compareWith]="comparePriority"
          >
            <option [ngValue]="null"></option>
            @for (priorityOption of prioritiesSharedCollection; track $index) {
              <option [ngValue]="priorityOption">{{ priorityOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.status" for="field_status">Status</label>
          <select
            class="form-control"
            id="field_status"
            data-cy="status"
            name="status"
            formControlName="status"
            [compareWith]="compareStatus"
          >
            <option [ngValue]="null"></option>
            @for (statusOption of statusesSharedCollection; track $index) {
              <option [ngValue]="statusOption">{{ statusOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="incidentManagerApp.incident.userApp" for="field_userApp">User App</label>
          <select
            class="form-control"
            id="field_userApp"
            data-cy="userApp"
            name="userApp"
            formControlName="userApp"
            [compareWith]="compareUserApp"
          >
            <option [ngValue]="null"></option>
            @for (userAppOption of userAppsSharedCollection; track $index) {
              <option [ngValue]="userAppOption">{{ userAppOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
